<h1>Welcome to BookStore</h1>

<div class="products">
  <% @products.each do |p| %>
    <div class="product">
      <h3><%= p.name %></h3>
      <p class="price">
        <%= number_to_currency p.price %>
      </p>
      <%= link_to "Add to cart", add_cart_path(product_id: p) %>
    </div>
  <% end %>
</div>
